
/* Website Wide */

@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

:root
{
    --main-color: #168664;
    --main-color-hover: #0d4937;
}


p,span
{
    font-family: "jura";
}

button
{
    background-color: var(--main-color);
    color: white;
}

li
{
    list-style: none;
}

/* custom */

#seasonNewsCont
{
    min-height: 200px;
}

.seasonBanner
{
    min-height: 150px;
    width: 100%;
    background-color: grey;
}

.navbar
{
    background-color: var(--main-color);
}


/*****************************/
/***** REGISTRATION PAGE *****/
/*****************************/

#registerCont
{
    max-width: 500px;
}

/*****************************/
/***** LOGIN PAGE *****/
/*****************************/

#loginCont
{
    max-width: 500px;
}

/* -----------------------------------------------------------------------
----------------------------- DRAFT PAGE --------------------------------
-------------------------------------------------------------------------*/

/*------ Draft Order ------*/
#draftOrder li
{
    flex: 1;
    text-align: center;
    border-right: 1px solid black;
}

#draftOrder li:last-child
{
    border: none;
}

#randomizeDraft 
{
    background-color: var(--main-color);
    color: white;
}

#randomizeDraft:hover
{
    background-color: var(--main-color-hover);
}


/*------ Draft Ticker ------*/

#draftTickerPanel 
{
    /* Let the contents determine the height */
    max-height: none;
}

#draftTickerPanel > .row 
{
    align-items: stretch;
}

#draftTimerCont,
#draftCurrentPickCont,
#draftNextPickCont,
#draftLogTitle,
#draftLogCont 
{
    min-height: 85px;
    height: auto;
}

#draftTimer
{
    font-size: 2rem;
    font-weight: bold;
}

#draftLogTitle
{
    background-color: rgb(148, 148, 148);
    color: white;
}


#draftLogCont
{

}

.draftLogSelection
{
    
    /* padding: 8px; */

    border-right: rgba(0, 0, 0, 0.25) 1px solid;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.draftLogSelection div:first-child
{
    width: 100%;

    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgb(70, 70, 70);
    color: white;

    display: flex;
    justify-content: center;
}

.draftLogSelection div:last-child
{
    padding: 8px;
    flex: 1;

    background-color: white;
}

.draftLogSelection div:last-child span:last-child
{
    font-weight: bold;
}


/*------ Draft Board ------*/


#draftDirection
{
    min-width: 50px;
}

#draftPickInfo
{
    background-color: var(--main-color);
    color: white;
}

#draftPkmnStats1>div p,
#draftPkmnStats2>div p
{
    margin-bottom: 0;
}

#draftPkmnStats1>div p:first-child,
#draftPkmnStats2>div p:first-child
{
    /* text-decoration: underline; */
}

#draftPkmnStats1>div p:last-child,
#draftPkmnStats2>div p:last-child
{    
    font-weight: bold;
    font-size: 1.5rem;
}

#draftPokemonImage
{
    display: flex;
    align-items: center;
    justify-content: center;
}
#draftPokemonImage img
{
    flex: 1;
    max-width: 200px;
}

#draftDisplayTeamRoster
{
    background-color: var(--main-color);
}

.draftTierTitle
{
    background-color: rgb(70, 70, 70);
    color: white;
}

#draftDisplayTeamRoster li
{
    color: white;
}

#draftYourTeamInfo
{
    padding: 8px;
    background-color: var(--main-color);
    color: white;
}

/*------ Draft Pokemon Buttons ------*/
.draftBtn
{
    cursor: pointer;
}

/*--- Badge Colors for every type ---*/

.typeBadge-normal {
    background-color: #A8A77A;
}

.typeBadge-fire {
    background-color: #EE8130;
}

.typeBadge-water {
    background-color: #6390F0;
}

.typeBadge-electric {
    background-color: #F7D02C;
}

.typeBadge-grass {
    background-color: #7AC74C;
}

.typeBadge-ice {
    background-color: #96D9D6;
}

.typeBadge-fighting {
    background-color: #C22E28;
}

.typeBadge-poison {
    background-color: #A33EA1;
}

.typeBadge-ground {
    background-color: #E2BF65;
}

.typeBadge-flying {
    background-color: #A98FF3;
}

.typeBadge-psychic {
    background-color: #F95587;
}

.typeBadge-bug {
    background-color: #A6B91A;
}

.typeBadge-rock {
    background-color: #B6A136;
}

.typeBadge-ghost {
    background-color: #735797;
}

.typeBadge-dragon {
    background-color: #6F35FC;
}

.typeBadge-dark {
    background-color: #705746;
}

.typeBadge-steel {
    background-color: #B7B7CE;
}

.typeBadge-fairy {
    background-color: #D685AD;
}

